<div class="container mb-4 mt-3  border border-dark">
    <div class="col-12">
      <p><strong>Post #<%= post_counter + 1 %></strong></p>
        <h3 class="pt-2 text-dark"><%= link_to post.title, user_post_path(@user, post.id) %></h3>
      <p> <%= post.text %> </p> 
      <div class="text-end p">
        Comments: <%= post.comments.length%>
        Likes: <%= post.likes.length%>
      </div>
      <div>
       <%= render partial: 'likes/likes', locals: {post: post} %>
       </div>
        <div class="mt-3">
        <h3>recent comments:</h3>
        <%= render post.find_five_recent_comments %>
        </div>
  </div>
    </div>
</div>